#menuItems button {
  width: 100%
  display: block;

  background: blue;
  color: white;

  cursor:pointer;

  border: 1px solid black;
  font-size: 17px

  padding: 12px;
}

#menuItems button:hover {
  background: steelblue;
}

#jumpMenu {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 6px 0;

  background: darkgoldenrod;
}



#recentArticles:hover + #jumpMenu {
  display: block;
}

#jumpMenu:hover {
  display: block;
}

#jumpMenu li a {
  display: block;
  padding: 4px 16px;

  color: navy;

  background-color: transparent;

  text-decoration: none;
  
  font-size: 17px;
}

#jumpMenu li a:hover {
  background-color: navy;

  color: white;
}



