article p:first-of-type::first-letter {
  font-family: "Times New Roman", Times, serif;

  font-size: 35px;

  line-height: 1;
}

a[href = "google"] {
  
  position: relative;
  padding-right: 18px;
  
}

a[href = "google"]::after {
  content: "";
  display: inline-block;

  width: 15px;
  height: 15px;

  margin-left: 6px;
  vertical-align: middle;

  background-image: url("arrowarrow.png");
  background-repeat: no-repeat;

  background-size: contain;
}

#menuItems button {
  width: 100%
  display: block;

  background: blue;
  color: white;

  cursor:pointer;

  border: 1px solid black;
  font-size: 17px

  padding: 12px;
}

#menuItems button:hover {
  background: steelblue;
}

#jumpMenu {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 6px 0;

  background: darkgoldenrod;
}



#recentArticles:hover + #jumpMenu {
  display: block;
}

#jumpMenu:hover {
  display: block;
}

#jumpMenu li a {
  display: block;
  padding: 4px 16px;

  color: navy;

  background-color: transparent;

  text-decoration: none;
  
  font-size: 17px;
}

#jumpMenu li a:hover {
  background-color: navy;

  color: white;
}


article {
  color: lightgray;
  transform: scale(1);

  transition-property: color, transform;

  transation-duration: 2s;
  transition-timing-function: ease;
}

article:hover {
  background-color: dimgray;
  transform: scale(1.1);
}




