#menuItems button {
  width: 100%
  display: block;
  cursor:pointer;

  background: blue;

  color: white;

  border: 1px solid black;
  padding: 10px 12px;
  font-size: 18px
}

#menuItems button:hover {
  background: royalBlue;
}

#jumpMenu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 6 px 0;

  background: goldenrod;
}



#recentArticles:hover + #jumpMenu {
  display: block;
}

#jumpMenu:hover {
  display: block;
}



