html {

  font-size: 75%;

}

body {

  background-color: lightblue;
  font-family: Georgia, "Times New Roman", serif;
  
  margin: 0;
  padding: 0.5rem;
  
  color: black;

}

h1 {

  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 750;

  text-align: center;
  margin: 0.6rem 0 0.9rem 0;

}

h2 {

  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 700;

  margin: 0.6rem 0 0.6rem 0;

}

h3 {

  font-size: 1.25rem;
  font-weight: 600;
  margin: 1.rem 0 0.5rem 0;

}

p {

  margin: 0.75rem 0;
  line-height: 1.25;

}

.blue {

  background-color: darkblue;
  color: white;

  padding: 1.1rem 1rem;
  margin:1rem 0;
  border: 0.12rem solid black;
  
}

#paragraph2 {

  background-color: white;
  border: 0.25rem solid green;

  width: 52%;
  margin: 1rem 0 1rem 2rem;
  padding: 1.5rem 2.25rem;

  line-height: 2;

}


ol {

  list-style-type: decimal-leading-zero;
  padding-left: 1.75rem;
  margin: 0.25rem 0 1rem 0;
  font-size: 1.2rem;

}

ol a{

  color: blue;
  
}

p a[href*="w3schools'] {

  color: red;

}

table {

  border-collapse: collapse;
  background-color: white;
  margin-top: 0.25rem;
  margin-left: 0;
  width: 36rem;

}

th {

  background-color: lightgray;
  font-weight: 500;

}

td {

  background-color: white;

}

th, td {

  border: 0.1rem solid black;
  padding: 0.3rem 0.6rem;
  font-size: 0.8rem;

}

