html {

  font-size: 100%;

}

body {

  background-color: lightblue;
  font-family: Georgia, "Times New Roman", serif;
  
  margin: 0;
  padding: 0 0.5rem 2.5rem 0.5rem;
  
  color: black;

}

h1 {

  font-family: Arial, Helvetica, sans-serif;
  font-size: 4.5rem;
  font-weight: 900;

  text-align: center;
  margin: 1.2rem 0 0.6rem 0;

}

h2 {

  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.2rem;
  font-weight: 800;

  margin: 1.1rem 0 0.5rem 0;

}

h3 {

  font-size: 1.25rem;
  font-weight: 800;
  margin: 1.2rem 0 0.5rem 0;

}

p {

  margin: 0.75rem 0;
  line-height: 1.25;

}

.blue {

}

#paragraph2 {

}


ol {

}

ol a:link, ol a:visited {

}

p a[href* = "w3schools"]:link, p a[href* = "w3schools"] {

}

table {

}

th {

}

td {

}

th, td {

}

