body {
  margin: 0;
  font-family: "Times New Roman", Times, sans-serif;
}

#jumpMenu {
  position: fixed;
  top: 0;
  
  width: 15%;
  height: 100%;

  background-color: lightblue;

  padding: 10px;
}

main {
  margin-left: 15%;
  padding-top: 85px;
  padding-left: 20px;
}

main header {
  position: fixed;

  top: 0;
  left: 15%;
  width: 85%;
  height: 80px;

  background-color: lightgrey;

  text-align: center;
  padding-top: 20px;
  padding-left: 20px;

  border-bottom: 2px solid black;
}

main header nav button {
  margin: 5px;
}

#container {
  display: flex;
  flex-wrap: wrap;
}

#container article {
  width: 300px;
  margin: 10px;

  padding: 10px;

  border: 2px solid black;
  background-color: yellow;
}

#thanks {
  position: fixed;
  bottom: 10px;
  right: 10px;

  background-color: grey;
  color: purple;

  padding: 10px;
}

