body {
  margin: 0;
  font-family: "Times New Roman", Helvetica, sans-serif;
}

#jumpMenu {
  position: fixed;
  top: 0;
  width: 15%;
  height: 100%;

  background-color: lightblue;

  padding: 10px;
}
